<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
  </head>

  <body>

    <% include header %>

    <div class="take-info-window bg-color-lightergrey">
      <h1><%- infoText %></h1>
      <% if(subText){ %>
        <br>
        <div class="font-darkgrey">[&nbsp;&nbsp;<%- subText %>&nbsp;&nbsp;]</div>
      <% } %>
      <% if(infoLink){ %>
        <br><br>
        <span><%- infoLink %></span>
      <% } %>
    </div>

    <% include footer %>

    <% include login/login-popup %>

  </body>

</html>
