<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/join_style.css' />
    <script type='text/javascript' href='javascript/login/kakao/popup.js'></script>
  </head>
  <body>
    <div id="headerbar">
      <span id="headerbar-title">
        <a href=\>T. A. K. E.</a>
      </span>
    </div>
    <div id="join-title">
      회 원 가 입
    </div>
    <form action="/join" method="post">
      <div>
        <label>UserId:</label>
        <input type="text" name="username"/><br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password"/>
      </div>
      <div>
        <input type="submit" value="Submit"/>
      </div>
    </form>
    <div id="kakao-login">
      <a href='/login/kakao' onclick="return show_hide_box(this, 300, 500, '2px solid')"><img src="images/login/kakao/kakao_login_btn.png"></a>
    </div>
  </body>
</html>
