<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Sure??</p>
    <p>- <a href='/withdraw/confirmed'>OK</a> -</p>
  </body>
</html>
