<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){

        $("body").addClass("bg-color-lightergrey");
      });
      </script>
  </head>

  <body>

    <div id="header" class="width-full bg-color-darkgrey font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>

    </div>

    <div id="withdraw-title" class="margin-top-190 margin-bottom-30 center-aligned">
      <h1><a href="/"><%=service%></a>를&nbsp;&nbsp;떠나시겠습니까?</h1>
    </div>

    <div id="withdraw-window" class="width-full center-aligned">
        <a href='/withdraw/confirmed' class="font-darkgrey">네</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='/' class="font-darkgrey" onclick="history.back()">아니오</a>
    </div>

  </body>

</html>
