<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          var $inputs = $(".take-shortinput-box input[type='password']");

          InputController.setInputFocus($("input[type='password']"));
          ButtonController.setButton($(".editor-submit-button"));

          $(".editor-submit-button").click(function(){
            var isFieldChecked = 1;

            $inputs.each(function(){
              if($(this).val() == ""){
                $(this).addClass("bg-color-pink");
                isFieldChecked = 0;
              }
            });

            if($("input[name='password_new']").val() != $("input[name='password_new_again']").val()){
              $("#userinfo-error").text("비밀번호가 일치하지 않습니다.")
              .addClass("margin-top-30 margin-bottom-30 font-red font-bold");
              isFieldChecked = 0;
            }

            if(isFieldChecked == 1){
              $.ajax({
                type: "POST",
                url: "/user/password/update",
                data: $("#userinfo-form").serialize(),
                success: function(data){
                  if(data.result == "success"){
                    $("#userinfo-error").text("비밀번호가 변경되었습니다.")
                    .removeClass("font-red")
                    .addClass("margin-top-30 margin-bottom-30 font-darkgrey font-bold");
                    $inputs.val("");
                  }
                  else if(data.result == "fail"){
                    if(data.code == "401"){
                      alert(data.text);
                      location.href = "/login?redirect=/user/password";
                    }
                    else{
                      $("#userinfo-error").text(data.text).addClass("margin-top-30 margin-bottom-30 font-red font-bold");
                    }
                  }
                },
                error: function(xhr, option, error){
                  alert(error);
                }
              });
            }
          });
        });
      }());
    </script>
  </head>

  <body>

    <% include ../header %>

      <nav class="take-navigation bg-color-darkgrey font-lightgrey">
        <ul>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/userinfo.png"></img><span class="selected">회원정보 관리</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/cart.png"></img><span>예약정보</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/likeslist">
              <img src="/images/user/likes.png"></img><span>찜 리스트</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/gallery.png"></img><span>갤러리</span>
            </a>
          </li>
      </ul>
      </nav>


    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window2">
        <span class="font-grey">새로운 비밀번호를 입력해주세요.</span>
        <hr class="bg-color-lightgrey">
        <form id="userinfo-form">
          <div class="take-shortinput-box">
            <div class="editor-input-label font-grey">&nbsp;기존 비밀번호&nbsp;&nbsp;|</div>
            <input type="password" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="password_old"></input>
            <div class="editor-input-label font-grey">&nbsp;새로운 비밀번호&nbsp;&nbsp;|</div>
            <input type="password" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="password_new"></input>
            <div class="editor-input-label font-grey">&nbsp;비밀번호 확인&nbsp;&nbsp;|</div>
            <input type="password" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="password_new_again"></input>
          </div>
          <div id="userinfo-error">
          </div>
          <div class="editor-button-box">
            <button type="button" class="editor-submit-button take-button-mint">
              <img src="/images/studio/check.png"></img><span>&nbsp;수정하기</span>
            </button>
          </div>
        </form>
      </div>

    </div>

    <% include ../footer %>

    <% include ../login/login-popup %>

  </body>

</html>
