body {
  padding: 0px;
  margin: 0px;
  font-family: "Nanum Gothic";
  background-color: #eee;
}
#join-title {
  margin-top: 180px;
  margin-bottom: 30px;
  text-align: center;
}
#join-title a {
  color: #404040;
}
#join-window {
  margin: 0 auto;
  width: 342px;
  height: 100%;
  text-align: center;
}
#join-submit-button {
  width: 342px;
  height: 42px;
  margin-bottom: 10px;
  background-color: #3db7cc;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 1em;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  outline: 0;
}
#join-submit-button:hover {
  color: #008299;
}
.joinInput {
  position: relative;
  margin-bottom: 10px;
}
.joinInput label {
  position: absolute;
  top: 13px;
  left: 23px;
  font-size: 1em;
  color: #999;
  cursor: text;
}
.joinInput input {
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  height: 40px;
  color: #404040;
  font-size: 1em;
  letter-spacing: 5px;
  border: 1px solid #ccc;
  border-radius: 0;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
