body {
  padding: 0px;
  margin: 0px;
  font-family: "Nanum Gothic";
}
#top-window {
  height: 600px;
  width: 100%;
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 70px;
  background-color: #ddd;
  background-image: url("/images/main/top_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#main-list-title {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
#main-list-window {
  width:100%;
}
#main-list {
  width: 84%;
  margin: 0 auto;
  float: left;
}
#main-list-arrow-left, #main-list-arrow-right {
  height: 70px;
  color: #ccc;
  font-size: 70px;
  text-align: center;
  cursor: pointer;
}
#main-list-arrow-left:hover, #main-list-arrow-right:hover {
  color: #999;
}
#main-list-box1, #main-list-box2, #main-list-box3 {
  display: none;
  height: 440px;
  margin: 10px;
  float: left;
  background-color: #ddd;
  <!--
  background-image: url("/images/main/main_list.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -->
}
.mainListArrowBox {
  width: 8%;
  float: left;
}
.mainListBoxNote {
  height: 75px;
  padding-top: 15px;
  padding-right: 20px;
  margin: 10px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.9);
}
.mainListBoxUsername {
  color: #404040;
}
.mainListBoxTitle {
  color: #404040;
  font-size: 25px;
}
#search-box-upper {
  width: 100%;
  height: 80px;
  padding-top: 220px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#search-box {
  width: 800px;
  height: 50px;
  margin: 0 auto;
  border: 10px solid rgba(255, 255, 255, 0.4);
}
#search-box-category {
  width: 170px;
  height: 20px;
  padding: 15px;
  float: left;
  background-color: #fff;
  color: #999;
  cursor: pointer;
}
#search-box-region {
  width: 170px;
  height: 20px;
  padding: 15px;
  float: left;
  background-color: #fff;
  color: #999;
  cursor: pointer;
}
#search-box-date {
  width: 270px;
  height: 20px;
  padding: 15px;
  float: left;
  background-color: #fff;
  color: #999;
  cursor: pointer;
}
#search-box-button {
  width: 68px;
  height: 20px;
  padding: 15px;
  float: left;
  background-color: #3db7cc;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
#category-list {
  display: none;
  position: absolute;
  width: 200px;
}
#region-list {
  display: none;
  position: absolute;
  width: 200px;
}
#search-box-datepicker {
  display: none;
  width: 278px;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}
.searchBoxDivider {
  width: 1px;
  height: 50px;
  float: left;
  background-color: #ccc;
}
.searchBoxItem {
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #999;
  text-align: center;
  cursor: pointer;
}
.searchBoxItem:hover {
  background-color: #eee;
  border: 1px solid #999;
  color: #404040;
  font-weight: bold;
}
