body {
  padding: 0px;
  margin: 0px;
  font-family: "Nanum Gothic";
  background-color: #eee;
}
hr {
  width: 100px;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  background-color: #ccc;
}
#photographer-studio-pics-window {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-color: #eee;
}
#photographer-studio-pics-window .mainPicture {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#photographer-studio-title-window {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
  text-align: center;
  color: #999;
}
#photographer-studio-title-window #stars {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #404040;
  font-weight: bold;
}
#photographer-studio-title-window #introduction {
  margin-bottom: 100px;
  line-height: 1.5em;
}
#photographer-studio-title-window #introduction .boldLabel {
  width: 50px;
  float: left;
  color: #404040;
  font-weight: bold;
}
#photographer-studio-title-window #introduction .leftAlignedBox {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #ccc;
  text-align: left;
  line-height: 2em;
}
#photographer-studio-product-window {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  color: #999;
  text-align: center;
  line-height: 1.5em;
}
#photographer-studio-product-window .studioProduct {
  width: 800px;
  margin: 25px auto;
  background-color: #fff;
  line-height: 1.5em;
}
#photographer-studio-product-window .studioProductTitleBox {
  width: 545px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 30px;
  float: left;
  text-align: left;
}
#photographer-studio-product-window .studioProductButtonBox {
  width: 195px;
  padding-top: 25px;
  padding-right: 30px;
  float: left;
}
#photographer-studio-product-window .studioProductButton {
  width: 193px;
  height: 28px;
  border: 1px solid #ccc;
  color: #404040;
  line-height: 28px;
  cursor: pointer;
}
#photographer-studio-product-window .studioProductButton:hover {
  background-color: #3db7cc;
  color: #fff;
  border: 1px solid #3db7cc;
}
#photographer-studio-product-window .studioProductDescBox {
  width: 750px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  border-top: 1px solid #ccc;
}
#photographer-studio-portfolio-window {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
  color: #999;
  text-align: center;
  line-height: 1.5em;
}
#photographer-studio-portfolio-window .studioPortfolio {
  width: 960px;
  padding-top: 25px;
  padding-bottom: 50px;
  margin: 0 auto;
}
#photographer-studio-portfolio-window .studioPortfolioItem {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  background-color: #ccc;
}