@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  padding: 0px;
  margin: 0px;
  font-family: "Nanum Gothic";
}

a {
  text-decoration: none;
}

h1 {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  color: #404040;
  font-size: 2em;
  font-weight: normal;
}

h1 a {
  color: #404040;
}

hr {
  width: 800px;
  height: 1px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.bg-color-darkergrey {
  background-color: #303030;
}

.bg-color-darkgrey {
  background-color: #404040;
}

.bg-color-grey {
  background-color: #999;
}

.bg-color-lightgrey {
  background-color: #ccc;
}

.bg-color-lightergrey {
  background-color: #eee;
}

.bg-color-black {
  background-color: #000;
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-mint {
  background-color: #3db7cc;
}

.bg-color-lightmint {
  background-color: #eefff5;
}

.bg-color-pink {
  background-color: #fde2e2;
}

.width-full {
  width: 100%;
}

.margin-top-190 {
  margin-top: 190px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.font-white {
  color: #fff;
}

.font-lightgrey {
  color: #ccc;
}

.font-lightergrey {
	color: #eee;
}

.font-grey {
  color: #999;
}

.font-darkgrey {
  color: #404040;
}

.font-black {
  color: #000;
}

.font-mint {
  color: #3db7cc;
}

.font-red {
  color: #bb2929;
}

.font-level-default {
  font-size: 1em;
}

.font-level-small {
  font-size: 0.8em;
}

.font-level-large {
  font-size: 1.5em;
}

.font-level-larger {
  font-size: 2.5em;
}

.font-level-largest {
	font-size: 4em;
}

.font-level-max {
  font-size: 5em;
}

.font-bold {
  font-weight: bold;
}

.font-space-wide {
  letter-spacing: 10px;
}

.border-none {
  border: none;
}

.border-solid-thin-lightgrey {
  border: 1px solid #ccc;
}

.border-solid-thin-grey {
  border: 1px solid #999;
}

.border-solid-thin-mint {
  border: 1px solid #3db7cc;
}

.rounded-box {  
  border-radius: 3px;
}

.center-aligned {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.vertical-middle-aligned {
  vertical-align: -6px;
}

.vertical-smallmiddle-aligned {
  vertical-align: -3px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.label-bold {
  width: 50px;
  color: #404040;
  font-weight: bold;
  float: left;
}

.take-basic-window {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
}

.take-basic-window2 {
  width: 100%;
  padding-top: 230px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
}

.take-fullsize-window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.take-info-window {
  width: 100%;
  height: 400px;
  padding-top: 270px;
  text-align: center;
}

#take-join-box {
  width: 342px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -171px;
  text-align: center;
}

#take-join-button, #login-submit-button {
  width: 342px;
  height: 42px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #3db7cc;
  line-height: 42px;
  font-family: inherit;
}

.take-basic-paragraph {
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
}

.take-likes-box {
  padding-top: 30px;
  padding-bottom: 100px;
}

.take-likes-box .delete {
  width: 50px;
  height: 17px;
  line-height: 17px;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #999;
  cursor: pointer;
}

.take-likes-box .box {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.take-likes-box .likes-studio {
  width: 230px;
  height: 330px;
  margin: 10px;
  border-radius: 3px;
  float: left;
  overflow: hidden;
}

.take-likes-box .likes-studio .image {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.take-likes-box .likes-studio .desc {
  width: 190px;
  height: 90px;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.take-likes-box .likes-product {
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}

.take-likes-box .likes-product .likes-col {
  padding: 20px;
  text-align: left;
  float: left;
}

.take-likes-box .likes-product .name {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.take-likes-box .likes-product .price {
  width: 130px;
}

.take-likes-box .likes-product .desc {
  width: 380px;
}

.take-likes-box .likes-product .button {
  width: 130px;
}

.take-likes-box .rsv-product {
  width: 300px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.take-likes-box .product-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.take-likes-box .product-box hr {
  width: 258px;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.take-likes-box .product-box .input-box {
  width: 216px;
  height: 38px;
  line-height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
}

.take-likes-box .rsv-date {
  width: 300px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.take-likes-box .take-datepicker {
  width: 278px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.take-likes-box .rsv-time {
  width: 300px;
  height: 400px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.take-likes-box .time-box {
  width: 258px;
  height: 387px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  overflow: scroll;
}

.take-likes-box .time-box hr {
  width: 258px;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
}

.take-likes-box .time-item {
  height: 30px;
  line-height: 30px;
  color: #999;
  padding: 10px;
  cursor: pointer;
}

.take-likes-box .time-box .selected {
  color: #fff;
  border-radius: 3px;
  background-color: #3db7cc;
}

.take-likes-box .time-item:hover {
  color: #404040;
  font-weight: bold;
}

.take-navigation {
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: absolute;
  top: 60px;
  text-align: center;
  z-index: 90;
}

.take-navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.take-navigation li {
  margin-left: 25px;
  margin-right: 25px;
  display: inline;
}

.take-navigation li img {
  vertical-align: -6px;
}

.take-navigation li a {
  color: #ccc;
}

.take-navigation span {
  margin-left: 7px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.take-navigation .selected {
  font-size: 1.1em;
  border-bottom: 2px solid #3db7cc;
}

.take-button-mint {
  width: 130px;
  height: 40px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1em;
  color: #fff;
  vertical-align: middle;
  outline: 0;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #3db7cc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.take-button-mint img {
  vertical-align: -6px;
}

.take-button-whiteborder {
  width: 130px;
  height: 40px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1em;
  color: #fff;
  vertical-align: middle;
  outline: 0;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.take-button-whiteborder img {
  vertical-align: -6px;
}

.take-button-mintborder {
  width: 130px;
  height: 40px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1em;
  color: #3db7cc;
  vertical-align: middle;
  outline: 0;
  border: 1px solid #3db7cc;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.take-button-mintborder img {
  vertical-align: -6px;
}

.take-input-box {
  width: 542px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: left;
}

.take-shortinput-box {
  width: 342px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: left;
}

.take-text-input {
  width: 500px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  font-family: "Nanum Gothic";
  border-radius: 3px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.take-text-input:disabled {
  background-color: #ddd;
}

.take-text-shortinput {
  width: 300px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  font-family: "Nanum Gothic";
  border-radius: 3px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.take-text-shortinput:disabled {
  background-color: #ddd;
  color: #999;
}

.take-textarea {
  width: 500px;
  height: 100px;
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  font-family: "Nanum Gothic";
  border-radius: 3px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.take-shorttextbox {
  width: 300px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  font-size: 0.8em;
  line-height: 1.5em;
  background-color: #fff;
  overflow: scroll;
}

.take-checkbox {
  width: 100px;
  height: 30px;
  padding-top: 10px;
  position: relative;
  float: left;
}

.checkbox-long {
  width: 100%;
}

.take-checkbox input[type="checkbox"] {
  opacity: 0;
  filter: alpha(opacity: "0%");
}

.take-checkbox label {
  position: absolute;
  top: 10px;
  left: 0;
  cursor: pointer;
}

.take-checkbox .box {
  width: 1.1em;
  height: 1.1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  float: left;
}

.take-checkbox .checked {
  border: 1px solid #3db7cc;
  background-image: url("/images/common/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100;
}

.take-item-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.list-slider-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-slider-arrow-box {
  width: 8%;
  float: left;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.list-slider-list {
  width: 84%;
  float: left;
}

.list-slider-list .list-box {
  margin-left: 5px;
  margin-right: 5px;
  display: none;
  position: relative;
  overflow: hidden;
  float: left;
}

.list-slider-list .list-box-note {
  height: 75px;
  padding-top: 15px;
  padding-right: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.7);
}

.editor-title-box {
  height: 50px;
  padding-top: 70px;
  line-height: 50px;
}

.editor-button-box {
  width: 100%;
  height: 100px;
  line-height: 100px}

.editor-input-label {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  line-height: 30px;
  text-align: left;
}

.editor-input-longlabel {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  line-height: 30px;
  text-align: left;
}

#studio-photo-slider-window {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
  line-height: 500px;
}

#studio-photo-slider-window .photo-box {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#studio-photo-slider-window .slider-edit-button {
  width: 60px;
  height: 60px;
  font-size: 2.5em;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 80;
}

#studio-photo-slider-window .slider-editor-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 90;
}

#studio-photo-slider-window .editor-main-box {
  width: 860px;
  height: 162px;
  padding-top: 50px;
  margin: 0 auto;
}

#studio-photo-slider-window .editor-photo-box {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px dashed #999;
  font-size: 3em;
  line-height: 150px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

#studio-photo-slider-window .editor-photo-input {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

#studio-introduction-window hr {
  width: 100px;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
}

#studio-introduction-window .left-aligned-box {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: left;
  line-height: 2em;
}

#studio-introduction-window .intro-edit-button {
  position: absolute;
  top: 40px;
  left: calc(50% - 65px);
}

#studio-introduction-window .intro-editor-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 90;
  display: none;
}

#studio-introduction-window .editor-main-box {
  width: 542px;
  margin: 0 auto;
  text-align: left;
}

#stars {
  margin-top: 20px;
}

#stars .star {
  width: 20px;
  height: 20px;
}

#studio-product-window .product-box {
  width: 800px;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

#studio-product-window .product-add-button {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  font-size: 2.5em;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 80;
}

#studio-product-window .product-title-box {
  width: 475px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 30px;
  float: left;
  text-align: left;
}

#studio-product-window .product-button-box {
  width: 265px;
  padding-top: 37px;
  padding-right: 30px;
  text-align: right;
  float: left;
}

#studio-product-window .product-desc-box {
  width: 750px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  line-height: 1.5em;
  border-top: 1px solid #ccc;
}

#studio-product-window .product-editor-box {
  width: 800px;
  display: none;
  text-align: center;
  line-height: 1em;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#studio-product-window .editor-main-box {
  width: 542px;
  margin: 0 auto;
  text-align: left;
}

#studio-portfolio-window .portfolio-box {
  width: 960px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
 }

#studio-portfolio-window .portfolio-item {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

#studio-portfolio-window .portfolio-subject {
  width: 260px;
  height: 260px;
  line-height: 260px;
  padding: 20px;
  text-align: center;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#studio-portfolio-window .portfolio-add-button {
  width: 298px;
  height: 298px;
  margin: 10px;
  border: 1px dashed #999;
  float: left;
  font-size: 3em;
  line-height: 298px;
  cursor: pointer;
}

#studio-portfolio-window .portfolio-edit-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#studio-portfolio-window .portfolio-editor-box {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#studio-portfolio-window .editor-subject-box {
  width: 542px;
  margin: 0 auto;
}

#studio-portfolio-window .editor-main-box {
	padding-top: 50px;
	padding-bottom: 150px;
}

#studio-portfolio-window .editor-photo-box {
	margin: 10px;
	position: relative;
	float: left;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#studio-portfolio-window .editor-input-box {
  border: 1px dashed #999;
  font-size: 3em;
  cursor: pointer;
}

#studio-portfolio-window .editor-photo-input {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

#portfolio-viewer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
	display: none;
}

#portfolio-viewer .orig-image-box {
	width: 100%;
	height: 100%;
}

#portfolio-viewer .thumb-box {
	width: 90%;
	height: 10px;
	padding-top: 100px;
	overflow: hidden;
	position: fixed;
	bottom: 20px;
	left: 5%;
	background-color: transparent;
}

#portfolio-viewer .thumb-box .inner-box {
	width: 10000px;
	height: 100px;
	overflow: hidden;
	position: absolute;
}

#portfolio-viewer .thumb-box-item {
	width: 90px;
	height: 90px;
	margin: 5px;
	float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#portfolio-viewer .close-button {
	width: 32px;
  height: 32px;
  padding: 0;
  position: fixed;
  top: 20px;
  right: 30px;
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#portfolio-viewer .left-arrow, .right-arrow{
	width: 90px;
	height: 100%;
	position: fixed;
	text-align: center;
	cursor: pointer;
}

#portfolio-viewer .counter {
	width: 100%;
	position: fixed;
	top: 25px;
	text-align: center;
}

#header {
  height: 40px;
  padding: 10px;
  /*
  position: fixed;
  */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #303030;
}

#header a {
  color: #fff;
}

#header-title {
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 40px;
}

#header-login {
  height: 40px;
  padding-right: 30px;
  line-height: 40px;
}

#login-popup-background {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  opacity: 0.9;
  filter: alpha(opacity: "90%");
}

#login-popup {
  display: none;
  width: 342px;
  height: 400px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -235px;
  margin-left: -191px;
  z-index: 120;
}

.login-input {
  margin-bottom: 10px;
  position: relative;
}

.login-input label {
  position: absolute;
  top: 13px;
  left: 23px;
}

.login-input input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
  font-family: "Nanum Gothic";
  border-radius: 3px;
  letter-spacing: 5px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#kakao-login-button {
  width: 342px;
  height: 42px;
  border-radius: 3px;
  background-color: #ffeb00;
  background-image: url("/images/login/kakao/kakao_login_btn.png");
  background-repeat: no-repeat;
  background-position: 10px 0px;
  color: #3c1e1e;
  line-height: 42px;
}

#header .user-menu-box {
  width: 200px;
  display: none;
  position: absolute;
  top: 40px;
  right: 30px;
}

#header .user-menu-arrow {
  width: 0;
  height: 0;
  position: absolute;
  right: 20px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

#header .user-menu {
  width: 180px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  line-height: 2em;
}

#header .user-menu a {
  color: #404040;
}

#header .user-menu-item {
  cursor: pointer;
  border-radius: 3px;
}

#header .user-menu-item:hover {
  background-color: #3db7cc;
  color: #fff;
}

#header hr {
  width: 180px;
  height: 1px;
  border: none;
  background-color: #ccc;
}

#search-window {
  height: 600px;
  background-color: #404040;
  background-image: url("/images/main/top_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#search-window .font-level-larger {
  padding-top: 230px;
  margin-bottom: 40px;
}

#search-box {
  position: relative;
  z-index: 100;
}

#search-box-category {
  width: 170px;
}

#search-box-region {
  width: 170px;
}

#search-box-date {
  width: 270px;}

#search-box-button {
  width: 68px;
  cursor: pointer;
}

#search-box-datepicker {
  display: none;
  width: 278px;
  padding: 10px;
  position: absolute;
}

.search-box-list {
  display: none;
  position: absolute;
  width: 200px;
}

.search-box-divider {
  width: 1px;
  float: left;
}

.search-box-item {
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #999;
  text-align: center;
  cursor: pointer;
}

.search-box-item:hover {
  background-color: #eee;
  border: 1px solid #999;
  color: #404040;
  font-weight: bold;
}

.down-arrow {
  width: 0;
  height: 0;
  position: relative;
  top: 5px;
  border-top: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.ui-datepicker {
  width: 280px;
  color: #999;
}
.ui-datepicker a {
  text-decoration: none;
  color: #999;
}
.ui-datepicker table {
  width: 100%;
  text-align: center;
}
.ui-datepicker tr {
  height: 30px;
}
.ui-datepicker td {
  padding: 0;
  margin: 0;
}
.ui-datepicker-header {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  color: #404040;
  font-size: 1.5em;
}
.ui-datepicker-prev, .ui-datepicker-next {
  text-align: center;
  font-weight: normal;
  cursor: pointer;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 10px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 10px;
}
.ui-datepicker-calendar a:hover {
  color: #404040;
  font-weight: bold;
}
.ui-datepicker-current-day {
  border-radius: 3px;
  background-color: #3db7cc;
}
.ui-datepicker-current-day a {
  color: #fff;
}

#footer {
  height: 300px;
}

#footer-main {
  height: 200px;
}

#footer hr {
  width: 800px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: none;
}

#footer-menu {
  margin-bottom: 10px;
}

