<div id="searchbar">
  <div id="searchbar-category"><span class="searchbarText">서비스를 선택하세요.</span><div class="downArrow"></div><div class="divClear"></div></div>
  <div class="searchbarDivider"></div>
  <div id="searchbar-region"><span class="searchbarText">지역을 선택하세요.</span><div class="downArrow"></div><div class="divClear"></div></div>
  <div class="searchbarDivider"></div>
  <div id="searchbar-date"><span class="searchbarText">날짜를 선택하세요.</span><div class="downArrow"></div><div class="divClear"></div></div>
  <div id="searchbar-button">검 색</div>
  <div class="divClear"></div>
  <div id="searchbar-category-list">
    <div class="searchbarItem">웨딩</div>
    <div class="searchbarItem">돌/백일</div>
    <div class="searchbarItem">데이트</div>
  </div>
  <div id="searchbar-region-list">
    <div class="searchbarItem">서울</div>
    <div class="searchbarItem">인천</div>
    <div class="searchbarItem">경기</div>
    <div class="searchbarItem">부산</div>
    <div class="searchbarItem">서울</div>
    <div class="searchbarItem">인천</div>
    <div class="searchbarItem">경기</div>
    <div class="searchbarItem">부산</div>
  </div>
  <div id="searchbar-datepicker">
  </div>
</div>
