<%
for(var i = 0;i < data.length;i++) {
%>
<a href="/<%=data[i].username%>">
  <div class="list-box bg-color-lightergrey">
    <div class="list-box-note">
      <span class="font-darkgrey"><%=data[i].username%></span><br>
      <span class="font-darkgrey font-level-large"><%=data[i].studio_name%><span>
    </div>
  </div>
</a>
<%
}
%>
<div class="float-clear"></div>
