<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take.util.js"></script>
    <script type="text/javascript" src="/javascripts/take.login.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          ButtonController.setButton($("#take-join-button"));
          $(".take-fullsize-window").css({
            "background-image": "url('/images/login/join_bg.jpg')",
            "background-repeat": "no-repeat",
            "background-position": "top",
            "background-size": "cover",
            "opacity": "0.8",
            "filter": "alpha(opacity: '80%')"
          });
          HeaderController.setBgColor("transparent");
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>

    </div>

    <div class="take-fullsize-window bg-color-black">
    </div>

    <div id="take-join-box">
      <h1 class="font-darkgrey margin-bottom-30"><a href="/"><%= service %></a>와 함께하세요.</h1>
      <a href="/join/takeuser">
        <div id="take-join-button" class="font-white center-aligned cursor-pointer">아이디/비밀번호로 가입하기
        </div>
      </a>
      <div id="kakao-login-button" class="font-bold center-aligned cursor-pointer">카카오 아이디로 가입하기
      </div>
    <div>

    <% include ../login/login-popup %>

  </body>

</html>
