<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script>
      (function(){
        $(document).ready(function(){
          CheckboxController.setCheckbox($(".take-checkbox input[type='checkbox']"));
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>

    </div>

    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window">
        <h1><a href="/"><%=service%></a>&nbsp;가족이&nbsp;되어주세요.</h1>

        <a href="/login/kakao">
          <div id="kakao-login-button" class="margin-bottom-30 font-bold center-aligned cursor-pointer">카카오 아이디로 가입하기
          </div>
        </a>

        <form>
          <div class="take-input-box">
            <div class="editor-input-label font-grey">&nbsp;아이디&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="username"></input>
            <div class="editor-input-label font-grey">&nbsp;패스워드&nbsp;&nbsp;|</div>
            <input type="password" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="password"></input>
            <div class="editor-input-label font-grey">&nbsp;닉네임&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="nickname"></input>
            <div class="editor-input-label font-grey">&nbsp;이메일&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="email"></input>
          </div>
          <div class="editor-button-box">
            <button type="submit" class="editor-submit-button take-button-mint">
              <img src="/images/studio/check.png"></img><span>&nbsp;저장하기</span>
            </button>
          </div>
        </form>
      </div>

    </div>

    <div id="footer" class="bg-color-darkgrey center-aligned">

      <div id="footer-main">
      </div>

      <div id="footer-menu" class="font-grey font-level-small">
        이용약관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        개인정보취급방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        서비스운영정책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        고객센터
      </div>

      <hr class="bg-color-grey">

      <div class="font-grey">
        &copy; <a href="/" class="font-grey"><%= service %></a>, Inc.
      </div>

    </div>

  </body>

</html>
