<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take.util.js"></script>
    <script type="text/javascript" src="/javascripts/take.login.js"></script>
    <script>
      (function(){
        $(document).ready(function(){
          var $inputs = $(".take-shortinput-box .take-text-shortinput");

          InputController.setInputFocus($(".take-text-shortinput"));
          $(".take-text-shortinput").keydown(function(keyEvent){
            InputController.onKeydown(keyEvent, $(this), $(".editor-submit-button"));
          });

          ButtonController.setButton($(".editor-submit-button"));
          CheckboxController.setCheckbox($("input[type='checkbox']"));

          $(".editor-submit-button").click(function(){
            var isFieldChecked = 1;

            $inputs.each(function(){
              if($(this).val() === ""){
                $(this).addClass("bg-color-pink");
                isFieldChecked = 0;
              }
            });

            if(!$("input[name='private_agree']").is(":checked")){
              isFieldChecked = 0;
              $("#join-error").text("개인정보 수집/이용에 동의해주세요.").addClass("margin-top-30 margin-bottom-30 font-red font-bold");
            }

            if(isFieldChecked == 1){
              $.ajax({
                type: "POST",
                url: "/join",
                data: $("#join-form").serialize(),
                success: function(data){
                  if(data.result == "success"){
                    location.href = "/join/welcome";
                  }
                  else if(data.result == "fail"){
                    $("#join-error").text(data.text).addClass("margin-top-30 margin-bottom-30 font-red font-bold");
                  }
                },
                error: function(xhr, option, error){
                  alert(error);
                }
              });
            }
          });
        });
      }());
    </script>
  </head>

  <body>

    <% include ../header %>

    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window">
        <h1>TAKE 가입하기</h1>
        <span class="font-grey">회원님의 소중한 정보를 입력해 주세요.</span>
        <hr class="bg-color-lightgrey">
        <form id="join-form">
          <div class="take-shortinput-box">
            <div class="editor-input-label font-grey">&nbsp;아이디&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="username"></input>
            <div class="editor-input-label font-grey">&nbsp;비밀번호&nbsp;&nbsp;|</div>
            <input type="password" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="password"></input>
            <div class="editor-input-label font-grey">&nbsp;닉네임&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="nickname"></input>
            <div class="editor-input-label font-grey">&nbsp;이메일&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="email"></input>
            <div class="checkbox-long take-checkbox">
              <input type="checkbox" id="email-agree" class="take-checkbox" name="email_agree" value="1"></input>
              <label class="font-grey" for="email-agree">
                <div class="box"></div>
                <span class="font-level-small">&nbsp;&nbsp;<%= service %>의 홍보/알림 메일 수신에 동의합니다. (선택)</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="float-clear"></div>
            <div class="editor-input-longlabel font-grey">&nbsp;개인정보 수집/이용 약관&nbsp;&nbsp;|</div>
            <div class="take-shorttextbox font-grey border-solid-thin-lightgrey">
              <span class="font-bold">개인정보 수집목적 및 이용목적:</span><br>
              이용자 관심 등에 기반한 맞춤형 서비스 제공<br><br>
              <span class="font-bold">수집하는 개인정보 항목:</span><br>
              광고ID, 이용자 단말기 내 설치된 어플리케이션 정보(앱 설치·실행시각 포함)<br><br>
              <span class="font-bold">개인정보 보관기간 및 이용기간:</span><br>
              수집일로부터 2년
            </div>
            <div class="checkbox-long take-checkbox">
              <input type="checkbox" id="private-agree" class="take-checkbox" name="private_agree" value="1"></input>
              <label class="font-grey" for="private-agree">
                <div class="box"></div>
                <span class="font-level-small">&nbsp;&nbsp;개인정보 수집/이용에 동의합니다. (필수)</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="float-clear"></div>
          </div>
          <div id="join-error">
          </div>
          <div class="editor-button-box">
            <button type="button" class="editor-submit-button take-button-mint">
              <img src="/images/studio/check.png"></img><span>&nbsp;가입하기</span>
            </button>
          </div>
        </form>
      </div>

    </div>

    <% include ../footer %>

    <% include ../login/login-popup %>

  </body>

</html>
